@using EFCoreApp.Data
@model Lecturer
@{
    ViewData["Title"] = "Create Lecturer";
}

<h2>Create Lecturer</h2>
<hr>

<form asp-controller="Lecturer" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="LecturerName" class="form-label">Student Name:</label>
        <input type="text" asp-for="LecturerName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Student Email:</label>
        <input type="text" asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Student Phone Number:</label>
        <input type="text" asp-for="PhoneNumber" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="startDate" class="form-label">Select Starting Date</label>
        <input asp-for="startDate" class="form-select">
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>